{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filters %}
{% load censor_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Все Новости</h1>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
<h3>{{ time_now|date:'D m Y' }}</h3>
<h3>{% current_time '%b %d %Y' %}</h3>
<h3>{{ next_sale|default_if_none:"Следующий репортаж скоро!" }}</h3>
<h3>Всего новостей: {{ news|length }}</h3>

{% for post in posts%}
<table>

    <tr>
        <p align="left"><td> <h4>Заголовок</h4>  </td></p>
        <td><h4>Дата Публикации</h4> </td>
        <td><h4>Краткое содержание</h4> </td>
        <td><h4>Рейтинг</h4> </td>
        <td><h4>Тип поста</h4> </td>
        <td><h4>ID Автора</h4> </td>
            </tr>
    <tr>
         <td> {{ post.title|truncatechars:25 }}</td>
        <td> {{ post.creation_date_time|date:'D m Y' }} </td>
        <td> {{ post.content|truncatechars:20 }} </td>
        <td> {{ post.rating }} </td>
        <td> {{ post.post_type }} </td>
        <td> {{ post.author_id }} </td>
    </tr>
</table>
{% endfor %}


   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}